
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KaleAkvaryum.Model.Model
@model Fish
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <img style="border-radius:10px" class="d-block w-100 img-fluid" src="@Model.FishImage" alt="" />
                    <div class="alert alert-danger my-2" role="alert">
                        İnternet üzerinden canlı satışı yapmak yasak olduğu için,elimizdeki türleri gösterebilmek amacıyla yayınlanmaktadır.
                    </div>
                    <div class="alert alert-danger my-2" role="alert">
                        Bu türden almak istiyorsanız <a style="text-decoration:underline" href="#">whatsapp</a> üzerinden bize ulaşarak stok bilgisi öğrenerek havale ve eft ile alabilirsiniz.
                    </div>


                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2>@Model.FishName</h2>



                    <p>
                        @Model.FishText
                    </p>
                    <br />
                    <h5>@Model.FishPrice₺</h5>


                    <div class="price-box-bar">
                        <div class="cart-and-bay-btn">
                            <a class="btn hvr-hover" data-fancybox-close="" href="#">İletişime Geç</a>
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>


       

        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>İlginizi Çekebilecek Diğer Balıklar</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
                <div class="featured-products-box owl-carousel owl-theme">
                    <div class="item">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">Add to Cart</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <h5> $9.79</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->
